.flex {
  display:-webkit-flex;
  display:-webkit-box;
  display:-moz-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  @media (max-width: $screen-xs-max) {
    &-xs {
      display:-webkit-flex;
      display:-webkit-box;
      display:-moz-flex;
      display:-moz-box;
      display:-ms-flexbox;
      display:flex;
    }
  }
  @media (min-width: $screen-sm) {
    &-sm {
      display:-webkit-flex;
      display:-webkit-box;
      display:-moz-flex;
      display:-moz-box;
      display:-ms-flexbox;
      display:flex;
    }
  }
  @media (min-width: $screen-md) {
    &-md {
      display:-webkit-flex;
      display:-webkit-box;
      display:-moz-flex;
      display:-moz-box;
      display:-ms-flexbox;
      display:flex;
    }
  }
  @media (min-width: $screen-lg) {
    &-lg {
      display:-webkit-flex;
      display:-webkit-box;
      display:-moz-flex;
      display:-moz-box;
      display:-ms-flexbox;
      display:flex;
    }
  }
  &-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
      @include breakpoint(sm) {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
      }
    &-reverse {
      -ms-flex-direction: row-reverse !important;
      flex-direction: row-reverse !important;
    }
  }
  &-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    @media (min-width: $screen-sm-min) {
      &-sm {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
      }
    }
    @media (max-width: $screen-xs-max) {
      &-xs {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
      }
    }
    &-reverse {
      -ms-flex-direction: column-reverse !important;
      flex-direction: column-reverse !important;
    }
  }
  &-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    @media (min-width: $screen-sm-min) {
      &-sm {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
      }
    }
    @media (max-width: $screen-xs-max) {
      &-xs {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
      }
    }
    &-reverse {
      -ms-flex-wrap: wrap-reverse !important;
      flex-wrap: wrap-reverse !important;
    }
  }
  &-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
    @media (min-width: $screen-sm-min) {
      &-sm {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
      }
    }
    @media (min-width: $screen-md-min) {
      &-md {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
      }
    }
    @media (max-width: $screen-xs-max) {
      &-xs {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
      }
    }
  }
  &-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  &-grow {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  &-nogrow {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
    @media (min-width: 576px) {
      &-sm {
        -ms-flex-positive: 0 !important;
        flex-grow: 0 !important;
      }
    }
  }
  &-shrink {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  &-noshrink {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
    @media (min-width: 576px) {
      &-sm {
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
      }
    }
  }
}
@media (min-width: 576px) {
  .flex-sm-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .flex-sm-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .flex-sm-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-sm-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-sm-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-sm-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-sm-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-sm-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .flex-sm-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .flex-sm-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .flex-sm-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-sm-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
}
@media (min-width: 768px) {
  .flex-md-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .flex-md-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .flex-md-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-md-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-md-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-md-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .flex-md-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .flex-md-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .flex-md-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-md-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
}
@media (min-width: 992px) {
  .flex-lg-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .flex-lg-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .flex-lg-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-lg-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-lg-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-lg-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-lg-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-lg-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .flex-lg-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .flex-lg-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .flex-lg-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-lg-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
}
@media (min-width: 1200px) {
  .flex-xl-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .flex-xl-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .flex-xl-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-xl-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-xl-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-xl-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-xl-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-xl-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .flex-xl-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .flex-xl-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .flex-xl-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-xl-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
}