body.post-type-archive-event {
  .event {
    margin: 1.3rem 0;
    &s {
      margin-left: -2rem;
      margin-right: -2rem;
      margin-top: 3rem;
    }
    .event {
      //font-family: OpenSans-Bold;
      &_body {
        padding: 0 2rem;
      }
      &_image {
        margin-bottom: 2.6rem;
        overflow: hidden;
        padding-top: 55.56%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        //}
      }
      &_date {
        color: map-get($brand-colors, grey);
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
      }
      &_title {
        color: map-get($brand-colors, black);
        font-size: 2.4rem;
        font-weight: 600;
      }
      &_excerpt {
        color: map-get($brand-colors, black);
        font-size: 1.6rem;
      }
    }

  }

}