

body.single {
	.content-section.primary {
		article.hentry {
			margin-bottom: ($line-height-computed * 2);
			.entry-title {
				margin-top: 0;
			}
			footer.entry-meta {
				margin-top: $line-height-computed;
			}
		}
	}
	.archive-return {
		font-size: 2.4rem;
		color: map-get($brand-colors, black);
		margin-bottom: 1em;
		a.link-back-archive {
			color: map-get($brand-colors, black);
		}
	}

}