ul.social-icons {
  li {
    font-size: 3.8rem;
    line-height: 1;
    & + li {
      margin-left: .5em;
    }
    a {
      color: map-get($brand-colors, white);
      svg {
        transition: .2s ease-in-out fill;
      }
      &:hover, &:active, &:focus {
        svg {
          fill: map-get($brand-colors, primary) !important;
          transition: .2s ease-in-out fill;
        }
      }
    }
  }
}