

#footer {
	background-color: $footer-bg;
	color: #888;
	> .container {
		padding-top: 30px;
		padding-bottom: 30px;
		> .inner {
			@include clearfix();
		}
	}
	//a {
	//	color: #ddd;
	//	&:hover {
	//		color: #fff;
	//	}
	//}
	h4, .h4 {
		font-size: 2.2rem;
		color: map-get($brand-colors, white);
		margin-bottom: .75em;
	}
	input[type="email"] {
		border-radius: 2em;
		box-shadow: none;
		background: none;
		font-style: italic;
		font-size: 1.8rem;
		display: inline-block;
		max-width: 350px;
		line-height: 1.0555555556;
		padding: 0.6112em 1em;
		height: auto;
		color: map-get($brand-colors, white);
	}
	#mc_embed_signup .clear {
		display: inline-block;
	}
}

.footer {
	&__connect + &__legal {
		margin-top: 4rem;
	}
	&__legal {
		font-size: 1.4rem;
		color: map-get($brand-colors, light-gray);
		strong { color: map-get($brand-colors, white); }
		&-links {
			font-weight: 600;
			a {
				+ a {
					&:before {
						content: '|';
						padding-right: .35em;
						margin-left: .25em;
						color: map-get($brand-colors, white);
					}
				}
			}
		}
	}
}