

#header {
	background-color: $header-bg;
	> .container {
		> .inner {
			@include clearfix();
		}
	}
}

.header {
	height: 8.8rem;
	&__branding-logo {
		img {
			max-height: 6rem;
		}
	}
}

//.page-header {
//	background-size: cover;
//	background-position: center bottom;
//	&-default {
//		//height: 100vh;
//	}
//}


/*	Branding
---------------------------------------------------------*/

#site-branding {
	//float: left;
	//margin-top: 10px;
	//margin-bottom: 12px;
}
#site-title {
	font-weight: 400;
	font-size: 20px;
}
#site-description {
	font-size: 14px;
}


/*	Mobile Menu Toggle
---------------------------------------------------------*/

#mobile-menu-toggle {
	@extend .btn, .link;
	//float: right;
	padding: 1em;
	border: none;
	//margin-top: 14px;
	@include breakpoint(sm) {
		display: none;
	}
	&:before {
		@include icon($fa-var-bars);
		margin-right: 0.4em;
	}
}

.hamburger {
	position: relative;
	display: inline-block;
	width: 26px;
	height: 17px;
	transform: rotate(0deg);
	transition: transform .15s ease-in-out;
	&-inner {
		top: 50%;
		display: block;
		width: 26px;
		transition-delay: .12s;
		transition-timing-function: cubic-bezier(.215,.61,.355,1);
		&, &:after, &:before {
			position: absolute;
			height: 3px;
			transition-timing-function: ease;
			transition-duration: .15s;
			transition-property: transform;
			transition-delay: .15s;
			border-radius: 4px;
			background-color: white;
			left: 50%;
			transform: translateX(-50%);
		}
		&:after, &:before {
			display: block;
			content: "";
			width: 26px;
		}
		&:before {
			top: -7px;
			transition: top 75ms ease .12s,opacity 75ms ease;
		}
		&:after {
			bottom: -7px;
			transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.215,.61,.355,1), left 75ms cubic-bezier(.215,.61,.355,1);
		}
	}
}


/*	Header Navigation
---------------------------------------------------------*/

#header-navigation {
	display: none;
	margin-right: auto;
	@media (min-width: $screen-sm) {
		display: block;
		flex-basis: 100%;
	}
	ul {
		@include list-unstyled();
		&.menu {
			display: flex;
			margin: 0;
			padding: 0 1.5em;
			> li {
				> a {
					padding: 1.93755em 1.5em;
				}
			}
		}
		&.sub-menu {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 0;
			top: 100%;
			width: 200px;
			background-color: #222;
			z-index: 90;
			transition: opacity .15s linear, visibility 0s linear .15s;
			a {
				padding: 6px 10px;
				color: #fff;
			}
			ul.sub-menu {
				background-color: #111;
				left: 100%;
				top: 0;
			}
		}
	}
	li {
		position: relative;
		&:hover {
			> a {
				background-color: map-get($brand-colors, primary);
				color: map-get($brand-colors, black);
			}
			> ul.sub-menu {
				opacity: 1;
				visibility: visible;
				transition-delay: 0s;
			}
		}
		&.current_page_item {
			a {
				color: map-get($brand-colors, primary);
			}
			&:hover {
				> a {
					background-color:  #222;
					color: map-get($brand-colors, primary);
				}
			}
		}
	}
	a {
		color: map-get($brand-colors, white);
		text-transform: uppercase;
		font-family: $font-family-header;
		font-weight: 600;
		letter-spacing: 1.125px;
		display: block;
		transition: color ease-out .15s, background-color ease-out .15s;
	}
}