

#header {
	background-color: $header-bg;
	> .container {
		> .inner {
			@include clearfix();
		}
	}
}

.header {
	&__branding-logo {
		img {
			max-height: 8rem;
		}
	}
}

.page-header {
	background-size: cover;
	background-position: center bottom;
	&-default {
		height: 100vh;
	}
}


/*	Branding
---------------------------------------------------------*/

#site-branding {
	//float: left;
	//margin-top: 10px;
	//margin-bottom: 12px;
}
#site-title {
	font-weight: 400;
	font-size: 20px;
}
#site-description {
	font-size: 14px;
}


/*	Mobile Menu Toggle
---------------------------------------------------------*/

#mobile-menu-toggle {
	@extend .btn, .link;
	float: right;
	padding: 0;
	border: none;
	margin-top: 14px;
	@include breakpoint(sm) {
		display: none;
	}
	&:before {
		@include icon($fa-var-bars);
		margin-right: 0.4em;
	}
}


/*	Header Navigation
---------------------------------------------------------*/

#header-navigation {
	display: none;
	margin-right: auto;
	@media (min-width: $screen-sm) {
		display: block;
		flex-basis: 100%;
	}
	ul {
		@include list-unstyled();
		&.menu {
			display: flex;
			margin: 0;
			padding: 0 1.5em;
			> li {
				> a {
					padding: 2.1875em 1.5em;
				}
			}
		}
		&.sub-menu {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 0;
			top: 100%;
			width: 200px;
			background-color: #222;
			z-index: 90;
			transition: opacity .15s linear, visibility 0s linear .15s;
			a {
				padding: 6px 10px;
				color: #fff;
			}
			ul.sub-menu {
				background-color: #111;
				left: 100%;
				top: 0;
			}
		}
	}
	li {
		position: relative;
		&:hover {
			> a {
				background-color: map-get($brand-colors, primary);
				color: map-get($brand-colors, black);
			}
			> ul.sub-menu {
				opacity: 1;
				visibility: visible;
				transition-delay: 0s;
			}
		}
	}
	a {
		color: map-get($brand-colors, white);
		text-transform: uppercase;
		font-family: $font-family-header;
		font-weight: 600;
		letter-spacing: 1.125px;
		display: block;
		transition: color ease-out .15s, background-color ease-out .15s;
	}
}