.page-header {
  &__content {
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;
  }
  &__title {
    color: map-get($brand-colors, white);
    text-shadow: 0 1px 3px rgba(map-get($brand-colors, black),.3);
    font-weight: 400;
  }
  &.gradient {
    background-image: linear-gradient(to right, map-get($brand-colors, black), #497C04 40%, map-get($brand-colors, primary));
  }
  &__overlay {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #8DC63F;
    padding: 1rem;
    .cta {
      &, & a {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        color: black;
      }
    }
  }

}